.chat-icon {
  position: fixed;
  right: 1.5rem;
  bottom: 2rem;
  width: 3rem;
  background: mediumspringgreen;
  color: #fff;
  border-radius: 20px;
  padding: .5rem; }

*,
::after,
::before {
  box-sizing: border-box; }

.chat-box {
  position: fixed;
  right: 1.5rem;
  bottom: 2rem;
  width: 25rem;
  height: 90%;
  background: #999; }
  @media only screen and (max-width: 760px) {
    .chat-box {
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; } }
  .chat-box .title {
    height: 3rem;
    background: #444;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
    .chat-box .title .customer-name {
      height: 3rem;
      line-height: 3rem;
      float: left;
      margin-left: 1.5rem; }
    .chat-box .title .close-icon {
      float: right;
      height: 3rem;
      line-height: 3rem;
      margin-right: .5rem; }
  .chat-box .chat-data {
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    width: 100%;
    overflow-x: auto;
    padding: 1rem 0; }
    .chat-box .chat-data .chat-left {
      padding: .5rem 0;
      text-align: right; }
      .chat-box .chat-data .chat-left span {
        padding: 1rem;
        background: #fff; }
      .chat-box .chat-data .chat-left::after {
        content: "";
        display: block;
        clear: both; }
  .chat-box .input-data {
    position: absolute;
    bottom: 0;
    height: 3rem;
    background: green;
    width: 100%; }
    .chat-box .input-data .input {
      width: 85%;
      height: 100%;
      text-indent: 8px;
      font-size: 1rem;
      border: 2px solid #000;
      border-radius: 3px;
      outline: none;
      padding: 0;
      float: left; }
    .chat-box .input-data .icon {
      background: #fff;
      height: 100%;
      width: 15%;
      float: left;
      line-height: 3rem;
      text-align: center; }
    .chat-box .input-data::after {
      content: "";
      clear: both;
      display: block; }
